{% extends 'user/profile_details.html.twig' %}

{% block body %}
    <h1 class="page-header">{{ user.fullName }} <small>{{ user.username }}</small></h1>

    <div>
        {{ form_start(form) }}

        {{ form_row(form.oldPassword) }}
        {{ form_row(form.newPassword) }}

        {{ form_widget(form.save) }}
        <a href="{{ path('get_profile') }}">{{ form_widget(form.cancel) }}</a>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
